flask
flask-jwt-extended
pymongo
werkzeug
--extra-index-url https://download.pytorch.org/whl/cu124
Flask
flask-cors
requests
accelerate
google-generativeai
hf_xet
bitsandbytes
python-dotenv
gtts
firebase_admin
google-genai>=1.0.0
Pillow
